<div class="moduletable">
  <h3>
    <span class="backh">
      <span class="backh2">
	<span class="backh3">Important Dates</span>
      </span>
    </span>
  </h3>
  
  <div class="custom">
    <table class="dates">
      <tr><td>Submission:</td><td><strong>May 30, 2014 (extended)</strong></td></tr>
      <tr><td>Acceptance:</td><td><strong>June 30, 2014</strong></td></tr>
      <tr><td>Camera ready:</td><td><strong>July 15, 2014</strong></td></tr>
      <tr><td>Workshop:</td><td><strong>September 22, 2014</strong></td></tr>
    </table>
  </div>

  <div class="custom" style="margin: 30px 0 0 0; padding: 30px 0 0 0">
    Workshop associated with
    <a href="http://fois2014.inf.ufes.br/p/home.html">FOIS 2014</a>
    <img src="img/fois-logo.png" width="230px" />
  </div>

</div>
